0
<app-header-breadcrumb></app-header-breadcrumb>
<p-table [columns]="cols" [value]="pessoas" selectionMode="single" [(selection)]="pessoaSelecionada"
         (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="15">
  <ng-template pTemplate="caption">
    Lista de Pessoas
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns" [pSortableColumn]="col.field">
        {{col.header}}
        <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr [pSelectableRow]="rowData">
      <td *ngFor="let col of columns">
        {{col.field == 'dataNascimento' ? (rowData[col.field] | dateTimeFormat) : rowData[col.field]}}
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary" let-rowData>
    <div style="text-align:left">
      <button type="button" pButton icon="fa fa-plus" (click)="showDialogToAdd()" label="Adicionar Pessoa"></button>
    </div>
  </ng-template>
</p-table>

<p-dialog header="Pessoa" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true"
          [style]="{width: '500px'}">
  <div class="ui-g ui-fluid" *ngIf="pessoa">

    <div class="ui-g-12">
      <div class="ui-g-4">
        <label>Nome</label>
      </div>
      <div class="ui-g-8">
        <input pInputText [(ngModel)]="pessoa.nome"/>
      </div>
    </div>

    <div class="ui-g-12">
      <div class="ui-g-4">
        <label>Data de nascimento</label>
      </div>
      <div class="ui-g-8">
        <p-inputMask [(ngModel)]="pessoa.dataNascimentoStr" mask="99/99/9999" placeholder="99/99/9999" slotChar="dd/mm/yyyy"></p-inputMask>
        <input pInputText mask="00/00/0000" [(ngModel)]="pessoa.dataNascimentoStr"/>
      </div>
    </div>

    <div class="ui-g-12">
      <div class="ui-g-4">
        <label>RG</label>
      </div>
      <div class="ui-g-8">
        <input pInputText [(ngModel)]="pessoa.rg"/>
      </div>
    </div>

    <div class="ui-g-12">
      <div class="ui-g-4">
        <label>CPF</label>
      </div>
      <div class="ui-g-8">
        <input pInputText [(ngModel)]="pessoa.cpf" mask="000.000.000-00"/>
      </div>
    </div>

  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button *ngIf="!novaPessoa" type="button" pButton icon="fa fa-close" (click)="delete()" label="Deletar"></button>
      <button type="button" pButton icon="fa fa-check" (click)="save()" label="Salvar"></button>
    </div>
  </p-footer>
</p-dialog>
